
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Calendário - To-Do</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="menu">
    <form action="/logout" method="GET">
      <button type="submit">Log-out</button>
    </form>
    <button>Minhas informações</button>
    <button>Meus contatos</button>
  </div>

  <div class="calendar">
    <h2>Organiza+</h2>

    <label for="datePicker">Escolha a data:</label>
    <input type="date" id="datePicker" />

    <div id="hourly-tasks"></div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
