<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="style.css.css">

</head>

<body>
  <div class="container">
    <h1>Novo Usuário</h1>

    <form method="POST">
      <input type="varchar(50)" name="username" placeholder="Nome de usuário" required>
      <input type="date" name="birthdate" required>
      <input type="varchar(100)" name="email" placeholder="Email" required>
      <input type="varchar(20)" name="phone" placeholder="Número de telefone" required>
      <input type="varchar(255)" name="password" placeholder="Senha" required>
      <button type="submit">Criar</button>
    </form>
  </div>
</body>

</html>