<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="style.css.css">

</head>

<body id="firtpage">
  <div class="container">
    <h1>ORGANIZA+</h1>

    <form action="/login" method="POST">
      <input type="varchar(50)" name="username" placeholder="Login" required>
      <input type="varchar(255)" name="password" placeholder="Senha" required>
      <button id="buttonindex" type="submit">Entrar</button>
    </form>
    <p>Novo Usuário? <a href="/cadastro">Cadastre-se aqui</a></p>
  </div>

  <div class="Logopage">
    <img id="imgindex" src="/projeto_flask_postgres_atualizado/src/css/img/Logo_sem_fundo.png" alt="Logo">

  </div>

</body>

</html>